<appSettings>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="PageSize" value="20"/>
	<add key="MaxPage" value="5"/>
	
	
	<add key="SMTPHost" value="smtp.gmail.com"/>
    <add key="SMTPPort" value="587"/>
    <add key="FromEmailAddress" value="1711060845@hunre.edu.vn"/>
    <add key="FromEmailPassword" value="quyenvan"/>
    <add key="FromName" value="360Boutique"/>
    <add key="AdminEmail" value="nguyenquyen1998.net@gmail.com
"/>
</appSettings>